/* Tag Modifications */


/* Class Modifications */
.title {
  text-align: center;
}

.emotionbutton {
  height: 125px;
  width: 125px;
  margin: 5px;
}

.iconbutton {
  margin: 5px;
}

.fashimage {
  display: inline-block;
  margin: 5px;
}

.fashimageTwo {
  display: inline-block;
  margin: 5px;
  max-width: 550px;
  max-height: 280px;
}


/* ID Modifications */

#heroImage {
  /* height: 280px;
  width: 550px */
}
